@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap') ;

body {
  background-color: #282c34;
  box-sizing: border-box;
  color: white;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.isTrue {
  border: 3px solid rgb(6, 240, 15);
}

.isFalse {
  border: 3px solid red;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.loginDiv {
  background-color: #1f2125;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin: 0 auto;
  width: 500px;
}

#name {
  border-radius: 10px;
  font-size: 18px;
  height: 30px;
  width: 85%;
  margin: 20px auto;
}

#email {
  border-radius: 10px;
  font-size: 18px;
  height: 30px;
  width: 85%;
  margin: 0 auto 20px;
}

.logoLogin {
  width: 250px;
  margin: 50px auto 0;
}

.configBtn {
  background-color: #3C1B7A;
  border-radius: 7px;
  color: white;
  margin: 0 auto 10px;
  padding: 5px;
  transition: font-size 0.1s, padding 0.1s;
  width: 80%;
}

.playBtn {
  background-color: #2FC18C;
  border-radius: 7px;
  margin: 0 auto;
  padding: 5px;
  transition: font-size 0.1s, padding 0.1s;
  width: 80%;
}

.playBtn:hover {
  font-size: 15px;
  padding: 8px;
}

.configBtn:hover {
  font-size: 15px;
  padding: 8px;
}

header {
  align-items: center;
  background-color: #1f2125;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.userHeaderDiv {
  display: flex;
  align-items: center;
}

.userHeaderDiv img {
  border-radius: 100%;
  margin-right: 10px;
}

.scoreHeaderDiv {
  display: flex;
}

.headerScore {
  margin-left: 10px;
}

.triviaHeader {
  width: 150px;
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  background-color: #00D5E2;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  transition: padding 0.1s, font-size 0.1s;
  width: 400px;
}

.optBtn:hover {
  padding: 15px;
  font-size: 20px;
}

.answerDiv {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.gameDiv {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: space-around;
  margin: 40px auto 0;
  width: 80%;
}

.questionDiv {
  background-color: #141518;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 600px;
}

.questionTextDiv {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.cronometerDiv {
  align-items: center;
  display: flex;
  margin: 20px auto;
  width: 100px;
}

.catDiv {
  align-items: center;
  background-color: #3C1B7A;
  border-radius: 20px;
  bottom: 15px;
  display: flex;
  height: 30px;
  justify-content: center;
  position: relative;
  margin: 0 auto 20px;
  width: 500px;
}

.cronometerDiv img {
  width: 80px;
}

.nextBtn {
  background-color: #3C1B7A;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 5px;
  transition: padding 0.1s, font-size 0.1s;
  width: 150px;
}

.nextBtn:hover {
  padding: 10px;
  font-size: 15px;
}

.badFeedback {
  color: #EA5D5D;
  text-align: center;
}

.goodFeedback {
  color: #2FC18C;
  text-align: center;
}

.logoFeedbackDiv {
  margin: 40px auto 0;
  width: 150px;
}

.logoFeedbackDiv img {
  width: 150px;
}

.feedbackDiv {
  background-color: #1f2125;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 10px;
  width: 400px;
}

.scoreDiv {
  display: flex;
  margin: 0 auto;
  width: 300px;
}

.left {
  margin-right: 7px;
}

.right {
  margin-left: 7px;
}

.assertionDiv {
  display: flex;
  margin: 0 auto;
  width: 150px;
}

.allDiv {
  width: 400px;
  margin: 0 auto;
}

.btnDiv {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin-top: 20px;
  width: 420px;
}

.playAgainBtn {
  background-color: #2FC18C;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition: padding 0.1s, font-size 0.1s;
  width: 150px;
}

.rankBtn {
  background-color: #3C1B7A;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 5px;
  transition: font-size 0.1s, padding 0.1s;
  width: 150px;
}

.rankBtn:hover {
  font-size: 17px;
  padding: 10px;
}

.playAgainBtn:hover {
  font-size: 17px;
  padding: 10px;
}

.red {
  color: #EA5D5D;
}

.rankMainDiv {
  background-color: #1f2125;
  border-radius: 20px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  margin: 60px auto 0;
  padding: 20px;
  width: 40%;
}

.rankUser {
  align-items: center;
  background-color: #EBEBEB;
  border-radius: 30px;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 300px;
}

.userRankImg {
  border-radius: 100%;
  height: 37px;
  width: 37px;
}

.pointsDiv {
  align-items: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  color: black;
  display: flex;
  left: 10px;
  position: relative;
  width: 170px;
}

.star {
  height: 30px;
  margin: 0 10px;
  width: 30px;
}

.personalUserDiv {
  align-items: center;
  display: flex;
}

.userNamePoints {
  margin-right: 5px;
}

.userRankImg {
  margin: 0 10px;
}

.rankDiv {
  margin: 20px auto;
  width: 300px;
}

.rankDiv ol {
  margin: 0;
  padding: 0;
}

.imgRankDiv {
  bottom: 50px;
  margin: 0 auto;
  height: 180px;
  width: 180px;
  position: relative;
}

.rankLogo {
  height: 180px;
  width: 180px;
}

.rankTitle {
  color: #3C1B7A;
  text-align: center;
}

.rankBtnDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
}

.btnBack {
  background-color: #3C1B7A;
  border-radius: 10px;
  color: white;
  padding: 7px;
  transition: padding 0.1s, font-size 0.1s;
  width: 250px;
}

.btnBack:hover {
  padding: 12px;
  font-size: 17px;
}
